<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Bijou Boutique</title>
  </head>
  <body>
    <%- include("partials/header.ejs", { user: typeof user !== 'undefined' ?
    user : null }) %>
    <main>
      <div class="form">
        <form action="/login" method="POST" id="loginForm">
          <h2 class="title">Iniciar sesión</h2>
          <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
          <div class="errors">
            <% errors.forEach(error => { %>
            <p><%= error.msg %></p>
            <% }); %>
          </div>
          <% } %>
          <div class="form-group">
            <input
              class="form-control"
              id="user"
              type="text"
              name="email"
              placeholder="Correo electrónico"
            />
          </div>
          <div class="form-group password-group">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Contraseña"
            />
            <button type="button" id="togglePassword" class="toggle-password">
              <i class="bx bx-show"></i>
            </button>
          </div>

          <div class="remember-me">
            <input
              type="checkbox"
              name="recordame"
              value="recordar"
              id="recordame"
            />
            <label for="recordame">Recordame</label>
          </div>
          <a href="/register" class="register-link">
            <h5>¿No tienes cuenta aún? Click aquí!</h5>
          </a>
          <input class="submit" type="submit" value="Enviar" />
        </form>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
    <script src="/js/passwordToggle.js"></script>
    <script src="/js/loginValidation.js"></script>
  </body>
</html>
